<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Alita: Battle Angel gallery</title>
	<link rel="stylesheet" href="css/master.css">
	<link rel="stylesheet" href="css/lightbox.min.css">
    <link rel="shortcut icon" href="../../favicon.png" type="image/x-icon">
</head>
<body>

	<main>
        <h2>Alita: Battle Angel gallery</h2>

		<div class="slide-container">
            {%slider_images%}

			{%gallery_images%}

			{%buttons%}
		</div>

        {%thumbnails%}
	</main>

	<script src="js/lightbox-plus-jquery.min.js"></script>

</body>
</html>